// base font is in UI.css.scss: currently set at 14px

$padding: 20px;
$text-default-size: 14;
$lmc-font: "Barlow Semi Condensed", sans-serif;
$lmc-font-headings : "Barlow Semi Condensed", sans-serif;
$text-font: $lmc-font;
$headings : $lmc-font-headings;
//$text-font: "Geogrotesque UI", sans-serif;
//$headings : "Geogrotesque SB", sans-serif;

@function get-size-for($pixels, $rem : false) {
  $text-default-size: $text-default-size !global;
  @if ($rem == true) {
    @return ($pixels / $text-default-size) * 1rem;
  }
  @return ($pixels / $text-default-size) * 1rem;
}

@function get-percent-of($pixels, $container) {
  @return $pixels / $container * 100%;
}

$h1-size: get-size-for(64); // 64px
$h2-size: get-size-for(48); // 48px
$h3-size: get-size-for(32); // 32px
$h4-size: get-size-for(24); // 24px
$p-main-size: $h4-size;
$p-smaller-size: get-size-for(18); // 18px relative to p-main-size
$p-small-size: get-size-for(16); // 16
$p-smallest-size: get-size-for(14);

$large-container-desktop: get-size-for(1920); // 1514px @ 1920px
$medium-container-desktop: get-size-for(1514); // 1514px @ 1920px
$small-container-desktop: get-size-for(1200); // 1200px @ 1920px

$xs-break: get-size-for(320); // 320px
$sm-break: get-size-for(480); // 480px
$md-break: get-size-for(768); // 768px
$mdx-break: get-size-for(1024); // 1024px
$lg-break: get-size-for(1200); // 1200px
$xl-break: get-size-for(1514); // 1514px

$main-color: #323232;
$dark: $main-color; // alias
$dark-light: #AEAEAE;

$gray-light: #eee;
$gray: #ddd;
$gray-dark: #999;

$blue-light: #81A7B6;
$blue: #0683A3;
$blue-dark: #054C63;

@function viewport-calc($width, $total-width)
{
  @return $width / $total-width * 100vw;
}

@function vertical-box($container-size) {
  // get container size, reduce it of -100px, get new container
  @return $container-size - 100;
}

@mixin container($size) {
  @if $size == medium {
    width: $medium-container-desktop;
  } @else if $size == small {
    width: $small-container-desktop;
  } @else {
    width: 100%;
  }
  margin: 0 auto;

  @media screen and (max-width: $xl-break) {
    @if $size == medium {
      width: 92.5%;
    } @else if $size == small {
      width: $small-container-desktop;
    } @else {
      width: 100%;
    }
  }

  @media screen and (max-width: $lg-break) {
    @if $size == medium or $size == small {
      width: 92.5%;
    } @else {
      width: 100%;
    }
  }
}

@mixin line-height($height: 1em) {
  $to-base-14: $height * 16 / $text-default-size !global;
  line-height: $height;
}

@mixin h1() {
  font-size: $h1-size;
  font-family: $headings;
  @media screen and (max-width: $md-break) {
    font-size: $h1-size / 1.5 !important;
    max-width: 97.25%;
  }
}

@mixin h2() {
  font-size: $h2-size;
  font-family: $headings;
  @media screen and (max-width: $md-break) {
    font-size: $h2-size / 1.5 !important;
    max-width: 97.25%;
  }
}

@mixin h3() {
  font-size: $h3-size;
  font-family: $headings;
  @media screen and (max-width: $md-break) {
    font-size: $h3-size / 1.45 !important;
    max-width: 97.25%;
  }
}

@mixin p-main-size() {
  font-size: $p-main-size;
  font-family: $text-font;
  @include line-height(1.5em);
}

@mixin p-smaller-size() {
  font-size: $p-smaller-size;
  font-family: $text-font;
  @include line-height(1.5em);
}

@mixin column($flex-basis:50%) {
  display: flex;
  height: auto;
  flex-direction: column;
  flex-basis: $flex-basis;

  @media screen and (max-width: $lg-break) {
    justify-content: center;
  }
}

@function set-background-hover-color($color) {
  @if (lightness($color) < 30) {
    @return $blue-light;
  }
  @else {
    @return $blue-dark;
  }
}


@function set-text-color($color) {
  @if (lightness($color) < 70) {
    @return white;
  }
  @else {
    @return $color;
  }
}