@import '_settings';

.business-grid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 0;
  flex: 1 0 100%;

  .poi-container {
    margin: 0 auto;
  }

  article .spacer {
    box-shadow: 0 10px 15px #ddd;
  }
}
