@import "_settings";

#smart-tools {
  margin-top: 2.5%;
  padding-bottom: 20px;

  ul {
    list-style: none;
    display: flex;
    flex: 0 0 100%;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;

    li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex: 1 0 24.5%; // fixme: IE correction: flex-grow 1 and 24.5 instead of 24.9
      padding: 0;
      margin-bottom: 5px;
      box-sizing: border-box;

      border-right: 2.5px solid transparent;
      border-left: 2.5px solid transparent;

      &::after {
        content: "";
        flex: auto;
      }
    }

    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      //flex: 1 0 100%; // fixme: IE correction
      margin: 0;
      padding: 0 20px;
      box-sizing: border-box;
    }

    span.icon {
      align-self: center;
      font-size: 1.8rem;
    }

  }

  @media screen and (max-width: $md-break) {
    a {
      padding: 0 10px !important;
    }

    ul {
      flex-wrap: wrap;
    }

    li {
      //flex: 0 0 100% !important;
      display: block;
      margin: 0 0 5px 0 !important;
      $borderWidth: 1.5625 / 2;
      flex: 0 0 100% !important;
      border-left: #{$borderWidth}vw solid transparent;
      border-right: #{$borderWidth}vw solid transparent;
    }
  }
}
