// should only open _settings
@import '_settings';

.fb_iframe_widget {
  display: flex !important;
  align-items: center;
  height: auto;
}

.is-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.custom-font-size {

  .separator {
    margin: 25px auto;
  }

  .resume {
    font-size: 14px;
  }

  .grid_3:last-child {
    clear: right;
  }

  h1 {
    @include h1;
  }

  h2 {
    @include h2;
  }

  h3 {
    @include h3;
  }

  h4 {
    @include p-main-size;
    font-family: $lmc-font-headings;
  }

  h1, h2, h3, h4 {
    color: $blue-dark;
    font-weight: 700;
  }

  p {
    font-size: 1.5rem;
    margin: 1.5em 0;

    a {
      color: $blue-light;
      text-decoration: none;

      span {
        font-family: "websymbols";
        font-size: 1em;
        padding-right: 1em;
      }
    }

    &.spaceless {
      margin: 0;
    }

    &.small {
      font-size: 1.1rem;
    }

    &.smaller {
      font-size: 85%;
    }

    strong {
      font-family: $text-font;
    }

    span {
      font-family: $text-font;
      &.icon {
        font-family: 'websymbols';
      }
    }

    @media screen and (max-width: $lg-break) {
      font-size: 1.3rem;

      &.small {
        font-size: 1.1rem;
      }
    }

    @media screen and (max-width: $mdx-break) {
      font-size: 1.2rem;

      &.small {
        font-size: 1.1rem;
      }
    }

    @media screen and (max-width: $md-break) {
      font-size: 1.4rem;

      &.small {
        font-size: 1.1rem;
      }
    }

    // bobeli bob

    @media screen and (max-width: $sm-break) {
      font-size: 1.5rem;

      &.small {
        font-size: 1.2rem;
      }
    }
  }
}

.splash {
  @extend .custom-font-size;
  h1,h2, h3, h4 {
    color: white;
  }
}

.hsep {
  width: 100%;
  height: 1px;
  background: $dark-light;
  clear: both;
}

.icon {
  font-family: "websymbols";
}

@mixin text-has-shadow($color, $opacity: 0.3, $width: 15px) {
  text-shadow: 0 0 $width $color; /* The Fallback */
  text-shadow: 0 0 $width rgba($color, $opacity);
}

.title-has-shadow {
  @include text-has-shadow($main-color, 0.7);
}

.thumbnail-50 {
  height: 50%;
  width: 100%;
}

a {
  transition: all .15s ease;

  &:hover {
    transition: all .3s ease;
  }
}

.btn {
  color: white;
  height: 50px;
  width: 100%;
  border: 0;
  margin: 1rem 0;
  display: block;
  text-decoration: none;
  line-height: $h2-size;
  text-align: center;

  @media screen and (max-width: $sm-break) {
    font-size: 1.2rem;
    line-height: 3.5em;
  }
}

.black, .dark {
  background: lighten($dark, 5%);

  &:hover {
    color: white;
    box-shadow: inset 0 -5px 0px 0px darken($blue, 10%);
  }
}

.blue-dark {
  background: $blue;
  &:hover {
    background: $blue-dark;
    box-shadow: inset 0 -5px 0px 0px darken($blue, 20%);
    color: white;
  }
}

.phone {
  @media screen and (min-width: $mdx-break) {
    color: inherit !important; // important here as specific rules override this rule instead
    text-transform: none;
  }

  @media screen and (max-width: $mdx-break) {
    color: $blue; // should be overriden by specific rules (and that's good)
  }
}

.square-button {
  @include p-smaller-size;
  width: $h2-size;
  height: $h2-size;
  background: $blue;
  display: inline-block;
  text-align: center;
  color: white !important;
  padding: 0;
  @include line-height($h2-size);

  .icon {
    padding: 0;
  }
}

.masked {
  position: absolute;
  z-index: -1;
  height: auto;
  width: 100%;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;

  @media screen and (max-width: $md-break) {
    width: auto;
    height: 100%;
  }
}

@mixin image-16by9($width) {
  $ratio: $width / 16;
  //height: calc(#{$ratio} * 9px);
  max-height: $ratio * 9px;
  overflow: hidden;
}

.image-medium-16by9 {
  @include image-16by9(670); // default

  @media screen and (max-width: $md-break) {
    @include image-16by9(620);
    margin-bottom: 5px;
  }

  @media screen and (max-width: $sm-break) {
    @include image-16by9(400);
    margin-bottom: 0;
  }
}