@import 'settings';

.background {
  background: $blue-dark;
  position: relative;
  z-index: 1;

  &.download-3::before, &.download-6::before {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'websymbols';
    content: "D";
    color: white;
    height: 100%;
    font-size: 15em;
  }

  &.download-6 {
    &::before {
      position:absolute;
    }
  }
}

.link-simplepage {

  .title {
    font-family: $lmc-font-headings;
  }

  .mask {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
    position: relative;
    z-index: 0;
  }

  &:hover {
    .mask {
      align-items: stretch;
    }

    a {
      flex: 1 0 100%;
      letter-spacing: 1px;
      background: rgba($blue, 0.75);
      transition: all .5s ease;
    }
  }

  a {
    position: relative;
    z-index: 2;
    text-decoration: none;
    display: flex;
    flex: 0 1 90%;
    line-height: 2.5em;
    align-items: center;
    justify-content: center;
    background: rgba($blue, 0.5);
    color: white;
    font-size: 21px;

    @media screen and (max-width: 480px) {
      font-size: 15px;
    }
  }
}