@import '_settings';

.container-large {
  @include container(large);
}

.hero {
  background: rgba($blue-light, 0.14);
  padding: 2.5vh 0;
  border-top: 5px solid $blue-light;
  margin-bottom: 40px;

  p {
    color: $blue-dark;
  }
}

.simple-page-text {
  max-width: $small-container-desktop;
  margin: 0 auto;

  & > header {
    padding: 10px 0;
  }

  .grid_3:last-child {
    clear: right;
  }

  .both, h3, h4, ul {
    clear: both;
  }

  .resume {
    font-size: 14px;
  }

  .mask {
    img {
      width: auto !important;
      height: 100%;
    }
  }

  .banner {
    height: 300px;
    max-height: 300px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: auto;
      position: absolute;
      top: -50%;
    }

    @media screen and (max-width: $md-break) {
      height: 25.8vh;
      max-height: 25.8vh;

      img {
        top: -25%;
      }
    }
  }

  ul:not(.icon) {
    font-size: 1.5rem;
    @include line-height(2em);
    list-style: disc;

    &::after, &::before {
      clear: both;
    }

    li {
      display: list-item;
      margin: get-size-for(5);
    }
  }

  @media screen and (max-width: $xl-break) {
    width: 90%;
  }

  @media screen and (max-width: $mdx-break) {
    font-size: 0.8em;
  }

  img {
    width: 100%;
    height: auto;
  }

  footer {
    color: $dark-light;
  }

  @mixin aspect-ratio($width, $height) {
    position: relative;
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: ($height / $width) * 100%;
    }
    > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .youtube {
    @include aspect-ratio(1200, 675);
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
