@import 'settings';

.splash {
  height: 80vh;
  max-height: 500px;
  background: -moz-linear-gradient(top, rgba(35, 35, 35, 0) 0%, rgba(35, 35, 35, 0.8) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(35, 35, 35, 0) 0%, rgba(35, 35, 35, 0.8) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(35, 35, 35, 0) 0%, rgba(35, 35, 35, 0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00232323', endColorstr='#cc232323', GradientType=0); /* IE6-9 */
  @include container(large);

  @media screen and (max-width: $sm-break) {
    max-height: 350px;
  }

  @media screen and (max-width: $mdx-break) {
    font-size: 0.8em;
  }

  .layer {
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;

    & > div {
      height: 100%;
    }
  }

  header {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include container(large);
    position: relative;
    z-index: 2;

    * {
      @include container(large);
    }
  }

  aside {
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: flex-start;
    flex-basis: 100%;
    height: 700px;
    align-items: center;
    position: relative;
    z-index: 2;
    margin: 0 auto;

    section {
      display: flex;
      height: auto;
      @include container(medium);
    }

    div {
      background: rgba($blue-dark, 0.8);
      color: white;
      display: flex;
      height: auto;
      flex-basis: 40%;
      box-sizing: border-box;
      padding: 20px;
      flex-direction: column;
    }

    h1 {
      @include h3;
    }

    p {
      font-size: 1.2em; // 18 px
    }

    @media screen and (max-width: $lg-break) {
      div {
        flex-basis: 50%;
      }
    }

    @media screen and (max-width: $mdx-break) {
      font-size: 1.45em;
    }

    @media screen and (max-width: $md-break) {
      font-size: 1.3em;
      height: 90vh;

      div {
        flex-basis: 70%;
      }
    }

    @media screen and (max-width: $sm-break) {
      height: 75vh;
      align-items: flex-end;

      p {
        font-size: 1.15em;
        line-height: 1.5;
        margin: 0;
      }
      div {
        flex-basis: 100%;
      }
    }
  }

  h2 {
    @include h3();
  }

  h1, h2 {
    @include line-height(1.5);
  }
}