{%- spaceless -%}

    {#
    Fichier responsable de charger et d'envoyer les données en HTML, pour être récupérés sur LT et MVC
    @Warning: careful not to use "page" as variable in twig, as it's a MyCity reserved keyword
    #}

    {# Requests object #}
    {% set requested = {
    id : app.request.query.get('id'),
    locale : app.request.query.get('locale'),
    callback: app.request.query.get('callback')
    } %}

    {# "Routing" #}
    {% set routes = [
    { slug : { fr : 'Lausanne-Montreux Congress', en: 'Lausanne-Montreux Congress', de : 'Lausanne-Montreux Congress' }, type : "page", id: "Z6507" },
    { slug : { fr : 'Qui sommes-nous', en: 'About us', de : 'Über uns' }, type : "page", id: "Z6623" },
    { slug : { fr : 'Nos services', en: 'Our services', de : 'Unser Dienstleistungen' }, type : "page", id: "Z6622" },
    { slug : { fr : 'Contact', en: 'Contact', de : 'Kontakt' }, type : "page", id: "Z6621" },
    { slug : { fr : 'Le SwissTech Convention Center', en: 'The SwissTech Convention Center', de : 'Das SwissTech Convention Center' }, type : "poi", id: "P10670" },
    { slug : { fr : 'Le Musée Olympique', en: 'The Olympic Museum', de : 'Das Olympische Museum' }, type : "poi", id: "P375" },
    { slug : { fr : 'Beaulieu Convention Center', en: 'Beaulieu Convention Center', de : 'Beaulieu Convention Center' }, type : "poi", id: "P6610" },
    { slug : { fr : '2M2C', en: '2M2C', de : '2M2C'}, type : "poi", id: "P6621" },
    ] %}

    {% set break = false %}

    {% for route in routes if route.id == requested.id and not break %}
        {# fixme: change home to route once domain names work properly, then get rid of this condition #}
        {% if route.type == 'home' %}
            {#{% import 'macro-homepage-data.html.twig' as data %}#}
            {% include 'business-home-layout.html.twig' with { locale : requested.locale } %}

        {% elseif route.type == 'page' %}
            {# mycity_link_to(requested.id, requested.locale, true) #}

            {% set content = http_request('https://www.lausanne-tourisme.ch/' ~ requested.locale ~ '/P375', {}, {}, 'GET', true) %}
            <html>
            <head>
                <meta name="robots" content="nofollow, noindex">
            </head>
            <body>
            {{ content.getBody() | raw }}
            <div id="json">
                {{ routes|json_encode()|raw }}
            </div>
            </body>
            </html>
            {% set break = true %}
        {% elseif route.type == 'poi' %}
            {% spaceless %}
                {% set poi = mycity_get_poi(requested.id|trim('P')) %}
                {% set poi = poi.setDefaultLocale(requested.locale) %}
                {% include 'page_poi.html.twig' with { poi : poi, locale: requested.locale, metarobots : false } %}
                {#{{ block('content', 'page_poi.html.twig') }}#}
                <div id="json">
                    {{ routes|json_encode()|raw }}
                </div>
                {% set break = true %}
            {% endspaceless %}

        {% endif %}
    {% endfor %}

    {% if mycity_is_production() == false %}
        <div data-lang="{{ requested.locale }}" data-id="{{ requested.id }}"></div>
    {% endif %}

{%- endspaceless -%}