{% set items = [
{ slug : { fr : 'Lausanne-Montreux Congress', en: 'Lausanne-Montreux Congress', de : 'Lausanne-Montreux Congress' }, type : "page", id: "Z6507" },
{ slug : { fr : 'Qui sommes-nous', en: 'About us', de : 'Über uns' }, type : "page", id: "Z6623" },
{ slug : { fr : 'Nos services', en: 'Our services', de : 'Unser Dienstleistungen' }, type : "page", id: "Z6622" },
{ slug : { fr : 'Le SwissTech Convention Center', en: 'The SwissTech Convention Center', de : 'Das SwissTech Convention Center' }, type : "poi", id: "P10670" },
{ slug : { fr : 'Le Musée Olympique', en: 'The Olympic Museum', de : 'Das Olympische Museum' }, type : "poi", id: "P375" },
{ slug : { fr : 'Beaulieu Convention Center', en: 'Beaulieu Convention Center', de : 'Beaulieu Convention Center' }, type : "poi", id: "P6610" },
{ slug : { fr : '2M2C', en: '2M2C', de : '2M2C'}, type : "poi", id: "P6621" },
{ slug : { fr : 'Contact', en: 'Contact', de : 'Kontakt' }, type : "page", id: "Z6621" },
] %}

<ul>
    {% for item in items %}
        <li>
            <a href="{{ mycity_get_link(item.id[1:], locale, item.type) }}" data-locale="{{ locale }}" data-id="{{ item.id }}">{{ item.slug }}</a>
        </li>
    {% endfor %}
</ul>
