<style>
    nav.lmc-nav {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        padding: 15px;
        height: 80px;
        border-top: 5px solid #0683A3;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
        transition: all .33s ease-out;
    }

    nav.lmc-nav:hover {
        /*background: rgba(255, 255, 255, 0.1);*/
        border-top: 5px solid rgba(5, 76, 99, 1);
        transition: all .33s ease-in;
    }

    .nav-burger {
        flex: 0 0 60px;
    }

    .nav-burger a {
        color: #fff;
        text-shadow: 0 1px 1px #054C63;
        font-size: 21px;
        display: block;
        cursor: pointer;
        text-decoration: none;
        width: 32px;
        height: 32px;
        text-align: center;
        background: #0683A3;
        transition: background 0.3s ease-out;
    }

    .nav-burger a:hover {
        background: #054C63;
        transition: background 0.3s ease-in;
    }

    .nav-logo {
        flex: 1 1 92%;
    }

    .nav-logo img {
        max-height: 40px;
    }

    .nav-langs {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
    }

    .nav-langs ul {
        list-style: none;
        margin: 0;
        padding: 0;
        -webkit-padding-before: 0;
        -webkit-padding-after: 0;
    }

    .nav-langs li {
        display: block;
        box-sizing: border-box;
        position: relative;
        transition: all 0.33s ease-in;
        padding: 0;
    }

    .nav-langs li:not(:first-child) {
        transform: scaleY(0);
        background: #054C63;
        z-index: 5;
        display: none;
        position: absolute;
        left: 0;
    }

    .nav-langs li:nth-child(2) {
        top: 32px;
    }

    .nav-langs li:nth-child(3) {
        top: 64px;
    }

    .nav-langs li:hover, .nav-langs li:first-child {
        background: #0683A3;
        transition: all 0.33s ease-in;
        z-index: 6;
        display: block;
    }

    .nav-langs ul:hover li {
        transform: scaleY(1);
        display: block;
    }

    .nav-langs li a {
        display: block;
        width: 32px;
        height: 32px;
        color: #fff;
        text-decoration: none;
        text-align: center;
        line-height: 32px;
        text-transform: uppercase;
    }

    #offcanvas {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 300px;
        width: 25vw;
        max-width: 450px;
        transform: translateX(-100%);
        height: 100vh;
        background: #f9f9fc;
        /*box-shadow: 0 0 0 0 rgba(45, 45, 45, 0.5);*/
        box-shadow: -5px 0 0px 100vw rgba(45, 45, 45, 0);
        transition: box-shadow 0.45s, transform 0.2s ease-out;
        box-sizing: border-box;
        padding: 15px;
        border-right: 5px solid #81A7B6;
    }

    #offcanvas:target, #offcanvas.menu-open {
        transform: translateX(0);
        box-shadow: -5px 0 0px 100vw rgba(45, 45, 45, 0.65);
        transition: transform 0.2s ease-out, box-shadow 0.45s;
    }

    #offcanvas .close {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    #offcanvas a {
        text-decoration: none;
        color: #0683A3;
    }

    #offcanvas a:hover {
        color: #054C63;
    }

    #offcanvas ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #offcanvas li {
        line-height: 2;
    }

    #offcanvas li:before {
        content: ">";
        font-family: websymbols;
        padding-right: 5px;
    }
</style>

<nav class="lmc-nav">
    <nav id="offcanvas">
        <a href="#" class="icon close"></a>
        <h4>Lausanne Montreux Congress</h4>
        {%- set items = [
        { slug : { fr : 'Lausanne-Montreux Congress', en: 'Lausanne-Montreux Congress', de : 'Lausanne-Montreux Congress' }, type : "webpage", id: "Z6507" },
        { slug : { fr : 'Qui sommes-nous', en: 'About us', de : 'Über uns' }, type : "webpage", id: "Z6623" },
        { slug : { fr : 'Nos services', en: 'Our services', de : 'Unser Dienstleistungen' }, type : "webpage", id: "Z6622" },
        { slug : { fr : 'Le SwissTech Convention Center', en: 'The SwissTech Convention Center', de : 'Das SwissTech Convention Center' }, type : "poi", id: "P10670" },
        { slug : { fr : 'Le Musée Olympique', en: 'The Olympic Museum', de : 'Das Olympische Museum' }, type : "poi", id: "P375" },
        { slug : { fr : 'Beaulieu Convention Center', en: 'Beaulieu Convention Center', de : 'Beaulieu Convention Center' }, type : "poi", id: "P6610" },
        { slug : { fr : '2M2C', en: '2M2C', de : '2M2C'}, type : "poi", id: "P6621" },
        { slug : { fr : 'Contact', en: 'Contact', de : 'Kontakt' }, type : "webpage", id: "Z6621" },
        ] -%}

        <ul>
            {% for item in items %}
                <li>
                    <a href="{{ mycity_get_link(item.id[1:], locale, item.type) }}" data-locale="{{ locale }}" data-id="{{ item.id }}">{{ item.slug[locale] }}</a>
                </li>
            {% endfor %}
        </ul>

    </nav>
    <div class="nav-burger">
        <a href="#offcanvas" class="icon navigation"></a>
    </div>
    {% if mycity_link_self(locale) != mycity_link_to(mycity_globals.get('page_home'), locale) %}
        <div class="nav-logo">
            <a href="{{ mycity_link_to(mycity_globals.get('page_home'), locale) }}" data-locale="{{ locale }}" data-id="Z6507">
                <img src="{{ asset('logo_lmc.png') }}" alt="Logo Lausanne Montreux Congress">
            </a>
        </div>
    {% endif %}
    <div class="nav-langs">
        <ul>
            {% set langs = { fr : mycity_link_self('fr'), en : mycity_link_self('en'), de : mycity_link_self('de') } %}
            <li><a href="#" data-locale="{{ locale }}">{{ locale }}</a></li>

            {% for lang, url in langs if lang != locale %}
                <li><a href="{{ url }}" data-locale="{{ lang }}">{{ lang }}</a></li>
            {% endfor %}
        </ul>
    </div>
</nav>