{%- spaceless -%}

    {#
    Fichier responsable de charger et d'envoyer les données en HTML, pour être récupérés sur LT et MVC
    @Warning: careful not to use "page" as variable in twig, as it's a MyCity reserved keyword
    #}

    {# Requests object #}
    {% set requested = {
    id : app.request.query.get('id') | default('Z6507'),
    locale : app.request.query.get('locale') | default('fr'),
    format : app.request.query.get('format') | default('')
    } %}

    {# "Routing" #}
    {% set getRoutes = getRoutes|default(false) %} {# If included from another file, do not launch the for loop below #}
    {% set routes = [
    { slug : { fr : 'Lausanne-Montreux Congress', en: 'Lausanne-Montreux Congress', de : 'Lausanne-Montreux Congress' }, type : "page", id: "Z6507" },
    { slug : { fr : 'Qui sommes-nous', en: 'About us', de : 'Über uns' }, type : "page", id: "Z6623" },
    { slug : { fr : 'Nos services', en: 'Our services', de : 'Unser Dienstleistungen' }, type : "page", id: "Z6622" },
    { slug : { fr : 'Contact', en: 'Contact', de : 'Kontakt' }, type : "page", id: "Z6621" },
    { slug : { fr : 'Le SwissTech Convention Center', en: 'The SwissTech Convention Center', de : 'Das SwissTech Convention Center' }, type : "poi", id: "P10670" },
    { slug : { fr : 'Le Musée Olympique', en: 'The Olympic Museum', de : 'Das Olympische Museum' }, type : "poi", id: "P375" },
    { slug : { fr : 'Beaulieu Convention Center', en: 'Beaulieu Convention Center', de : 'Beaulieu Convention Center' }, type : "poi", id: "P6610" },
    { slug : { fr : '2M2C', en: '2M2C', de : '2M2C'}, type : "poi", id: "P6621" },
    ] %}

    {% set break = false %}

    {{ dump(getRoutes) }}

    {% if getRoutes == true %}
        {% set break = true %}
        <script>
            var routes = {{ routes | json_encode | raw }}
        </script>
    {% endif %}

    {% if mycity_is_production() == false %}
        {% set debug = "locale : #{requested.locale}, id : #{requested.id}" %}
    {% endif %}

    {% for route in routes if route.id == requested.id and not break %}
        {# fixme: change home to route once domain names work properly, then get rid of this condition #}
        {# mycity_link_to(requested.id, requested.locale, true) #}
        {% set content = http_request("https://www.lausanne-montreux-congress.ch/#{requested.locale}/#{requested.id}", {}, {}, 'GET', true) %}
        {% set return = "#{content.getBody() | raw}<div id=\"json\">#{routes|json_encode()|raw}</div>" %}

        {% if requested.format != '' %}
            {"html": {{ return |trim | json_encode | raw }}, "debug": "{{ debug ? debug | raw : null }}" }
        {% else %}
            <html>
            <head>
                <meta name="robots" content="nofollow, noindex">
            </head>
            <body>
            {{ return | raw }}
            </body>
            </html>
        {% endif %}
        {% set break = true %}
    {% endfor %}
{%- endspaceless -%}