{# LT/MVT layout #}
{# todo: add rel=canonical content=lmc.ch -> add a new block in LT/MVT's layout to add custom meta properties #}
{% set block_todo = '0' %}
{% set block_banner = '0' %}
{% set block_social_banner = '0' %}
{% extends "layout.html.twig" %}

{% block stylesheets %}
    {# CSS gets loaded by content.js #}
    {{ parent() }}
    <noscript>
        <style>
            #lmc-iframe {
                width: 100vw;
                height: 100vh;
                overflow-x: hidden;
                display: block;
            }
        </style>
    </noscript>
{% endblock %}

{% block headScripts %}{% endblock %}

{% block header %}
    {# LT/MVT header #}
{% endblock %}

{% block content %}
    {# Where all the magic happens #}

    <div id="content">
        {# if JS works, everything here will be overriden #}
        {# put iframe in fullscreen as substitution if user has JS disabled #}
        <style>
           #lmc-iframe {
               display: none;
           }
        </style>
        <iframe src="https://www.lausanne-montreux-congress.ch" frameborder="0" id="lmc-iframe"></iframe>
    </div>
{% endblock %}

{% block footer %}
    {# LT/MVT footer #}
    {% embed 'body_footer.html.twig' %}
        {% block partners %}{% endblock %}
        {% block footer_lang_menu %}{% endblock %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    {# those scripts are LMC-related #}
    {# Call the rest #}
    {% javascripts
    'Nav.js'
    'Sniff.js'
    'Links.js'
    'Navigation.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {{ parent() }}
    {% include 'data-lmc-controller.html.twig' with { 'getRoutes' : true } %}
    <script>

        // example usage:
        var options = {
            id: "Z6507", // LMC Page ID, or POI ID
            locale: CMS.locale, // obvious
            selector: "#content", // What to get from the HTML we receive
            callbacks: ["getSliders", "forms"], // call global functions in window to operate on page | uses LT/MVT scripts
            elemsToRemove: ["#loading", "#map-canvas", "#show_map", "#alsolike", "#missarround"], // remove elements from obtained page
            onfinish: function () {
                var nav = new Nav();
                // jQuery stuff not encapsulated in functions...
                $(".tabs").tabs({active: 0});
                $(".accordion").accordion();
                $(".lazy-slide").lazyload();
                $(".lazy").lazyload();
            }
        };

        var sniff = new Sniff("#content", options);
        sniff.update();
        sniff.register(new Links);
        sniff.register(new Navigation);
    </script>

{% endblock %}